
<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name<i class="fas fa-user-secret"></th>
	  <th></i><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction<i class="fas fa-question"></i></th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>follows<i class="fas fa-user-friends"></i></th>
	  <th><%= link_to user.followings.count, user_followings_path(user.id) %></th>
  </tr>
  <tr>
	  <th>followers<i class="fas fa-theater-masks"></th>
	  <th><%= link_to user.followers.count, user_followers_path(user.id) %></th>
  </tr>
</table>
　
<div class='row'>
  <% if current_user != user %>
    <td><%= render "relationships/btn", user: user %><i class="fas fa-spinner"></i></td>
  <% else %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>